
<html>
<body>

<div id="demo">
    <h1>XMLHttpRequest 对象</h1>
    <button type="button" onclick="loadDoc()">修改内容</button>
</div>

<script>
    function loadDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("demo").innerHTML =
                    this.responseText;
            }
        };
        xhttp.open("POST", "http://127.0.0.1:8081/hello/getInfo", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("name=lxq");
        xhttp.send();
    }
</script>

</body>
</html>
